# This file is part of IndentX.
# https://github.com/socsieng/IndentX

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2015, Socheat Sieng <socsieng@gmail.com>

[run]
omit =
    *tests.py
    *__init__.py
branch = True
source =
    indent_x/commands
    indent_x/general_formatting
    indent_x/json_formatting
    indent_x/xml_formatting
    indent_x/yaml_formatting

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
